@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

body {
  height: 100vh;
  background: linear-gradient(to top left, #abe1ee, #316997);
  font-family: "Lobster Two", cursive;
  color: #eee;
  background-color: #222;
  margin: 50px;
}

header {
  font-size: 50px;
  text-align: center;
}

#avatar {
  border-radius: 50%;
  width: 200px;
}
.aboutMe {
  top: 100px;
  left: 300px;
  position: absolute;
}
#phone-icon {
  width: 30px;
  top: 420px;
  position: absolute;
}
.phoneNumber {
  left: 90px;
  top: 410px;
  position: absolute;
}
#email {
  left: 50px;
  top: 480px;
  position: absolute;
  width: 30px;
}
.email {
  left: 90px;
  top: 470px;
  position: absolute;
}
#linkedin-logo {
  width: 100px;
  top: 540px;
  position: absolute;
}

.vl {
  border-left: solid;
  height: 500px;
  left: 300px;
  position: absolute;
}
